{% extends 'base.html.twig' %}

{% block title %}oeuvre list!
{% endblock %}

{% block body %}
<style>

</style>
	<h1>oeuvres</h1>
	<div class="container">
	
<div class="table-responsive-sm ">
	<table class="table table-hover align-middle  table-success table-striped" >
		<thead class="table-light" >
			<tr >
				<th>Id</th>
				<th>Theme</th>
				<th>nom</th>
				<th>description</th>
				<th>Image</th>
				<th>catégorie</th>
			
				<th>actions</th>
			</tr>
		</thead>

		<tbody>
			{% for oeuvre in oeuvres %}
				<tr>
					<td>{{ oeuvre.id }}</td>
					{% if oeuvre.theme %}
						<td>{{ oeuvre.theme.name }}</td>
					{% else %}
						<td>theme à ajouter</td>

					{% endif %}

					<td class="table-warning ">{{ oeuvre.name }}</td>
					{% if oeuvre.description %}
						<td>{{ oeuvre.description }}</td>
					{% else %}

						<td class="text-danger">Description à écrire</td>

					{% endif %}

					{# <td>{{ oeuvre.prix }}</td> #}
					<td>
						{% if oeuvre.image %}
							{# {{ oeuvre.image }} #}
							<img src="{{ asset('images/oeuvre/' ~ oeuvre.image ) }}" alt="art digital et peinture de facundo varas street-art,portait paysage urbain hstoire" class="img80" style="height:10rem;width:10rem;">
						{% endif %}
						{% if oeuvre.categorie %}
							<td>{{ oeuvre.categorie.name }}</td>
						{% else %}
							<p>''</p>
						{% endif %}

					</td>
					<td>
				{{ include('admin_oeuvres/_delete_form.html.twig') }}
			
				<a href="{{ path('app_admin_edit', {'id': oeuvre.id}) }}" class="btn btn-info"><i class="fa-regular fa-pen-to-square"></i></a>
				
		
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}

					</td>
				</tr>
		</tbody>
	</table>
</div>
	
	</div>
{% endblock %}
