{% extends 'base.html.twig' %}

{% block title %}PageAccueil index{% endblock %}

{% block body %}
    <h1>PageAccueil index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Texte</th>
                <th>Img1</th>
                <th>Img2</th>
                <th>Img3</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page_accueil in page_accueils %}
            <tr>
                <td>{{ page_accueil.id }}</td>
                <td>{{ page_accueil.texte }}</td>
                <td>{{ page_accueil.img1 }}</td>
                <td>{{ page_accueil.img2 }}</td>
                <td>{{ page_accueil.img3 }}</td>
                <td>
                    <a href="{{ path('app_accueil_show', {'id': page_accueil.id}) }}">show</a>
                    <a href="{{ path('app_accueil_edit', {'id': page_accueil.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_accueil_new') }}">Create new</a>
{% endblock %}
