{% extends 'base.html.twig' %}

{% block title %}Theme index{% endblock %}

{% block body %}
    <h1>Theme index</h1>
<div class="container">


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Theme</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for theme in theme %}
            <tr>
                <td>{{ theme.id }}</td>
                <td>{{ theme.name }}</td>
                <td>
                <div class="row">
                    {# <a href="{{ path('app_theme_show', {'id': theme.id}) }}">show</a> #}
                    <div class="col">
                    <a class="btn btn-warning" href="{{ path('app_theme_edit', {'id': theme.id}) }}">editer</a>

                    </div>
                    <div class="col">
                    {{ include('theme/_delete_form.html.twig') }}
                    
                    </div>
                
                </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_theme_new') }}" class="btn btn-warning">nouveau theme</a>
</div>

{% endblock %}
